body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orrenge-color {
    color: orange;
}


.flexble-container {
    display: flex;

}


.half-width {
    width: 50%;
    padding: 2%;
}

.half-width img {
    width: 70%;
}

.link-button {
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    font-weight: 800;
    color: aqua;
    border-radius: 6px;
    padding: 10px 40px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.Exprience-area {

    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.Exprience-item {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 5px;

}

#web-dev-exp {
    border-left: 7px solid;
    border-image: linear-gradient(cyan, blue);
    border-image-slice: 1;

}

#full-stack-exp {
    border-left: 7px solid;
    border-image: linear-gradient(gray, yellow);
    border-image-slice: 1;

}

footer p {
    padding-top: 60px;
    text-align: center;
}